{% extends 'base.html' %}
{% block style %}
{%load static%}
<link href={% static "css/modal.css" %} rel="stylesheet" />
    
{% endblock %}
{% block nav %}
<li class="nav-item active">
  {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'branche_panel' %}">profile</a>
      </li>
    {%endif%}
    
  <li class="nav-item">
    <a class="nav-link" href="{% url 'main' %}">main</a>
  </li>
  
 
  
{% endblock nav %}
{%block content%}
{%for i in bills%}
<table class="table table-striped mt-4">
    <thead>
        <tr>
            
            <th scope="col">owner</th>
            <th scope="col">ordered date</th>
            <th scope="col">branche status</th>
            <th scope="col">customer status</th>
            <th scope="col">detail</th>

        </tr>
    </thead>
    <tbody id="list2">
       
       
     
        <tr>

            <th>{{ i.owner }}</th>
            <th>{{ i.ordered_date }}</th>
            <th>{{ i.branche_status }}
              

                <!-- Trigger/Open The Modal -->
                <button class="modal-button" href="#myModal1">change</button>

                <!-- The Modal -->
                <div id="myModal1" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">×</span>
                      
                    </div>
                    <div class="modal-body">
                      <form method="POST">
                        {% csrf_token %}
                        <label for="cheese">choose new status</label><br>
                           
                           <input type="radio"  name="branche_status" value={{i.id}},recorded>recorded<br>
                           <input type="radio"  name="branche_status" value={{i.id}},sent>sent<br>
                           <input type="radio"  name="branche_status" value={{i.id}},delivered>delivered<br>
                           
                            <button type=submit>update</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                    
                    </div>
                  
             </th>
            <th>{{ i.customer_status }}
              <button class="modal-button" href="#myModal2">change</button>

              <!-- The Modal -->
              <div id="myModal2" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="close">×</span>
                    
                  </div>
                  <div class="modal-body">
                  <form method="POST">
                  {% csrf_token %}
                  <label for="cheese">choose new status</label><br>
                    
                    <input type="radio"  name="customer_status" value={{i.id}},recorded>recorded<br>
                    <input type="radio"  name="customer_status" value={{i.id}},sent>sent<br>
                    <input type="radio"  name="customer_status" value={{i.id}},delivered>delivered<br>
                     
                      <button type=submit>update</button>
                </form> 
                  </div>
                  <div class="modal-footer">
                   
                  </div>
                </div>

              </div>

            
              
            </th>

            <th>
            <a href="{% url 'orders_item' i.pk %}" class="btn btn-info btn-sm">detail</a>
            </th>

        </tr>
       
    </tbody>
</table>
{% endfor %}
{% endblock %}
{%block script%}
<script src={% static 'js/modal.js' %}></script> 
{%endblock script%}