{% extends 'base.html' %}
{%load static%}
{% block style %}
        <link href={% static "css/style1.css" %} rel="stylesheet" />
{% endblock %}
{% block nav %}
<li class="nav-item active">
    
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'main' %}">main</a>
  </li>


   <li class="nav-item">
    <a class="nav-link" href="{% url 'password_change' %}">change password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'orders' %}">orders</a>
  </li>
  
</li>
  
  
  
{% endblock nav %}
{%block content%}
        {%if user.branche.resturant_mother.name %}
        <section class="hero-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="video-player">
                  <img src={% static "assets/img/admin_panel.JPG" %} style="width:70%;height:70%">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="block">
                  <h2>your resturan name:  </h2>
                  <h2>{{user.branche.resturant_mother.name}}</h2>
                  {%if user.branche.is_main%}
                  <p>main branche*</p>
                  {%endif%}
                  <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                    <li class="list-inline-item">
                      <a href="{% url 'menulist_b' %}"  class="btn btn-main">your menu</a>		
                    </li>
            
                  </ul>
                  <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                  <li class="list-inline-item">
                    <a href="{% url 'edite_branch' user.branche.pk %}"  class="btn btn-main">edite your branche</a>		
                  </li>
                </ul>
                <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                  <li class="list-inline-item">
                    <a href="{% url 'edite_profile' user.pk %}" class="btn btn-main">edite your user profile</a>		
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </section>	
        
        {%else%}
        <section class="hero-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="video-player">
                  <img src={% static "assets/img/admin_panel.JPG" %} style="width:70%;height:70%">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="block">
                  <h2>is this a main branche?</h2>
                  <form method="POST" class="form-check" >
                    {% csrf_token %}
        
                       <input type="radio" class="form-check-input" name="is_main" value="yes"><h3>yes</h3><br>
                       <input type="radio" class="form-check-input"  name="is_main" value="no"><h3>no</h3><br>
                    
                        <button type=submit class="btn btn-main">sign up</button>
                  </form>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </section>	
        

        {%endif%}
            

{%endblock content%}