{% extends 'base.html' %}
{%load static%}
{% block style %}
        <link href={% static "css/style1.css" %} rel="stylesheet" />
{% endblock %}
{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'admin:index' %}">admin <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'main' %}">main</a>
  </li>
  <li class="nav-item">
  
    <a class="nav-link" href="{% url 'login' %}">Login</a>
  </li>


   <li class="nav-item">
    <a class="nav-link" href="{% url 'signup' %}">signup</a>
  </li>
  
{% endblock nav %}
{%block content%}
<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="video-player">
          <img src={% static "assets/img/admin_panel.JPG" %} style="width:70%;height:70%">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="block">
          <form method="POST">
            {% csrf_token %}
                <h2>resturan name</h2>
                <input id="quantity" type="text" name='res_name'>
                <h2>your branche name:</h2>
                <input id="quantity" type="text" name='branche_name'>
         
                <button type=submit class="btn btn-main">sign up</button>
          </form>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>	


{%endblock content%}