{% extends 'base.html' %}
{%load static%}
{% block style %}

<link href={% static "css/modal.css" %} rel="stylesheet" />
    
{% endblock %}
{% block nav %}
<li class="nav-item active">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'customer_panel' %}">profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    {%endif%}

    
  
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main' %}">main</a>
      </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'branches' %}">branches</a>
  </li>
</li>
{% endblock nav %}
{%block content%}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table class="table table-striped mt-4">
    <thead>
        <tr>
            
            <th scope="col">food name</th>
            <th scope="col">quantity</th>
            <th scope="col">branche</th>
            <th scope="col">each item price</th>
            <th scope="col">total price</th>
            {% comment %} <th scope="col">edite</th>
            <th scope="col">delete</th> {% endcomment %}

        </tr>
    </thead>
    <tbody id="list2">
        {% for o in orders %}
        <tr>
      

        
     
        

            <th>{{ o.item.food.name }}</th>
            
        
    
            <th>{{ o.quantity }}</th>
            <th>{{ o.item.branche.name }}</th>
            <th>{{ o.item.price }}</th>
            <th>{{ o.get_total }}</th>

            {% comment %} <th>
                <a href="{% url 'fedite' object.pk %}" class="btn btn-info">edit</a>
            </th>{% endcomment %}
            <th>
            <a href="{% url 'fdelete' o.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </th>   
            
        </tr>
        {% endfor %}
    </tbody>
</table> 
<table>
    <thead>
        <tr>
            {% for i in bill_obj %}
            
            <th scope="col">final price</th>
            <th scope="col">{{i.card_total}}</th>
            {%endfor%}

        </tr>
    </thead>
</table>
    

    <p>Choose your address</p>
    <!-- Trigger/Open The Modal -->
    
    <button class="modal-button" href="#myModal1">add new address</button>

    <!-- The Modal -->
    <div id="myModal1" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">×</span>
          
        </div>
        <div class="modal-body">
          <form id="address" name="rform"method="POST">
            {% csrf_token %}
            <label for="city">city:</label><br>
            <input type="text" id="city" name="city"><br>  
            <label for="address">address:</label><br>
            <input type="text" id="address" name="address"><br>
            <label for="postal_code">postal code:</label><br>
            <input type="text" id="postal_code" name="postal_code"><br>
            <button type="submit" class="save btn btn-default">Save</button>
          </form>
        </div>
        <div class="modal-footer">
        
        </div>
    </div>
    </div>
    
    
    <form method="POST">
        {% csrf_token %}
        {% comment %} {% for mainad in mainad %} {% endcomment %}
        <input type="radio" name="main_add">{{mainad }}
       
        
        {% comment %} {%endfor%} {% endcomment %}
        {% for i in otheradd %}

          <input type="radio"  name="unmain_add" value={{i.city}},{{i.address}},{{i.postal_code}}>{{i.city}},{{i.address}},{{i.postal_code}}
          
    
        {%endfor%}
    <input type="submit" value="Submit">
    </form> 
</div>

{%endblock content%}
{%block script%}
<script src={% static 'js/modal.js' %}></script> 
{%endblock script%}