{% extends 'base.html' %}
{% block nav %}
<li class="nav-item active">
  {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'customer_panel' %}">profile</a>
      </li>
    {%endif%}
    
  <li class="nav-item">
    <a class="nav-link" href="{% url 'main' %}">main</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="{% url 'branches' %}">branches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'card' %}">card</a>
  </li>
  
{% endblock nav %}
{%block content%}

<h1>{{branche.branche.name}}</h1>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">photo</th>

        </tr>
    </thead>
    <tbody id="list2">
       
        {% for object in object_list %}
     
        <tr>

            <th>{{ object.food.name }}</th>
            <th>{{ object.price }}</th>
            
            <th><img src="{{ object.photo_url|default_if_none:'#' }}" width="200px"
              height="200px" /></th>
            

             <th>
                <a href="{% url 'add' object.pk %}" class="btn btn-info">add to card</a>
            </th>
            <th>{% comment %}
            <a href="{% url 'fdelete' object.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </th>  {% endcomment %}

        </tr>
        {% endfor %}
    </tbody>
</table> 
</div>

{%endblock content%}